<h2>Assignments</h2>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Repo</th>
    </tr>
    <% Assignment.all.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.language %></td>
        <td><a href="<%= assignment.github %>" target='_blank'>link</a></td>
      </tr>
    <% end %>
  </table>

<legend>Join Scrabbli</legend>
<% form_for :assignment , :assignments , id: 'assignment', class: 'form-horizontal' do |f| %>
  <div class='control-group'>
    <label class="control-label" for="assignment_name">Name:</label>
    <div class="controls">
      <%= f.text_field :name, class: 'input-xlarge' %>
    </div>
  </div>
  <div class='control-group'>
    <label class="control-label" for="assignment_language">Language:</label>
    <div class="controls">
      <%= f.text_field :language, class: 'input-xlarge' %>
    </div>
  </div>
  <div class='control-group'>
    <label class="control-label" for="assignment_github">Repo Link:</label>
    <div class="controls">
      <%= f.text_field :github, class: 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Join Scrabbli' , :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>